#root {
  padding: 2rem;
  display: block;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-left: 600px;
  margin-right: 600px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  display: block;
  place-items: start;
}

.toolbar > button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0px;
  margin-left: 5px;
  height: 40px;
  background-color:white;
  border: 1px solid #555555;
  color: #555555;
}

.selected {
  background-color: #555555  !important;
  color: white !important;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .card-1{
  display: flex;
  flex-wrap: column;
}

.card-2{
  display: flex;
  flex-wrap: column;
}

.card-3{
  display: flex;
flex-wrap: column;
} */

.portfolio > img {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
}

.toolbar{
  margin-bottom: 20px;
  display: block;
}